@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #f50022;
}

.menu {
  display: flex;
  flex-direction: row;
  flex: auto;
  list-style: none;
  height: 8rem;
  font-size: 3rem;
  justify-content: space-evenly;
  align-items: center;
  background-color: #0000007a;
  border: solid white 2px;
  color: white;
  width: 95vw;
  margin: auto;
  height: 75px;
  margin-top: 45px;
  margin-bottom: 35px;
  border-radius: 10px;
  transition: ease-in-out 0.7s;
}

.menu>li {
  transition: ease-in-out 0.7s;
}

.menu>li>a:hover {
  border-bottom: white solid 3px;
  padding-bottom: 1.7rem;
  transition: ease-in-out 0.2s;
  text-decoration: none;
  color: white;
}

a {
  font-size: 2rem;
  color: white;
  text-decoration: none;
}

.logo {
  width: 12rem;
}

.logo_carrinho {
  height: 45px;
}

.carousel-item {
  height: 75vh;
}

.carousel-item>a {
  text-align: none;
  color: white;
}

footer {
  list-style-type: none;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.658);
  color: white;
  text-align: left;
  border-top: 0.3rem solid white;
  padding: 1%;
}

footer>nav>ul>li>a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  transition: ease-in-out 0.1s;
}

footer>nav>ul>.traco {
  border-right: 1px solid #ffffff;
  padding: 0 5vw 0 0;
  text-align: center;
}

footer>nav>ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
}

footer>nav>ul>li>a:hover {
  border-bottom: 2px solid white;
  text-decoration: none;
  color: white;
  padding-bottom: .05rem;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 3rem;
  height: 2rem;
  cursor: pointer;
  z-index: 1001;
}

.hamburger div {
  width: 3rem;
  height: 0.4rem;
  background: white;
  border-radius: 0.2rem;
}

@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #0000007a;
    border: none;
  }

  .menu.active {
    display: flex;
    top: 0;
    margin-top: 0;
    background-color: #9a0519;
    height: auto;
    z-index: 1;

  }

  .menu>li>a:hover {
    border-bottom: none;
  }

  .logo {
    z-index: 2;
    width:10rem;
  }

  .hamburger {
    display: flex;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #0000007a;
    color: white;
    border-bottom: solid white 2px;
  }

  .logo {
    margin: 0;
  }
}